#theme-btn {
  position: absolute;
  z-index: 10000;
  height: 2em;
  width: 2em;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 10px;
  background-color: chocolate;
  cursor: pointer;
}
